/* ----------------------------------------- */
/*  Premade colors                           */
/* ----------------------------------------- */
.light {
  color: lightgray;
}
.bg-light {
  background: lightgray;
}
.darkgray {
  color: #23221d;
}
.bg-darkgray {
  background: #23221d;
  color: #fff;
}
.darkbrown {
  color: #464331c4;
}
.bg-darkbrown {
  background: #464331c4;
  color: #fff;
}
.darkslate {
  color: darkslategray;
}
.bg-darkslate {
  background: darkslategray;
  color: #fff;
}
.darkgreen {
  color: #003c1e;
}
.bg-darkgreen {
  background: #003c1e;
  color: #fff;
}
.darkblue {
  color: midnightblue;
}
.bg-darkblue {
  background: midnightblue;
  color: #fff;
}
.blue {
  color: #009ee0;
}
.bg-blue {
  background: #009ee0;
  color: #fff;
}
.green {
  color: #44a12b;
}
.bg-green {
  background: #44a12b;
  color: #fff;
}
.black {
  color: #000;
}
.bg-black {
  background: #000;
  color: #fff;
}
.red {
  color: #cd071e;
}
.bg-red {
  background: #cd071e;
  color: #fff;
}
.purple {
  color: purple;
}
.bg-purple {
  background: purple;
  color: #fff;
}
/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */
@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: "MyriadProBold";
  font-weight: 700;
  src: url('../fonts/MyriadPro-Bold.otf');
}
@font-face {
  font-family: "PermanentMarker";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PermanentMarker-Regular.ttf');
}
@font-face {
  font-family: "ChN1Regular";
  src: url('../fonts/ChN1_Regular.ttf');
}
@font-face {
  font-family: "ChocolateBox";
  font-style: normal;
  src: url('../fonts/C_BOX.TTF');
}
@font-face {
  font-family: "Polentical";
  font-style: normal;
  src: url('../fonts/Polentical_Neon_Regular.ttf');
}
@font-face {
  font-family: "RoyalVogueTypewriter1929";
  font-style: normal;
  src: url('../fonts/zai_RoyalVogueTypewriter1929.ttf');
}
@font-face {
  font-family: "AsapCondensedRegular";
  font-style: normal;
  src: url('../fonts/AsapCondensed-Regular.ttf');
}
@font-face {
  font-family: "Antonio";
  font-style: normal;
  src: url('../fonts/Antonio-Regular.ttf');
}
@font-face {
  font-family: "CoolveticaRegular";
  font-style: normal;
  src: url('../fonts/coolvetica_rg.ttf');
}
@font-face {
  font-family: "CoolveticaCondensed";
  font-style: normal;
  src: url('../fonts/coolvetica_condensed_rg.ttf');
}
/* ----------------------------------------- */
/*  TEXT STYLES                             */
/* ----------------------------------------- */
.strong {
  font-weight: bold;
}
.font-sm {
  font-size: smaller;
}
.font-lg {
  font-size: larger;
}
.font-light {
  font-weight: lighter;
}
.font-bold {
  font-weight: bolder;
}
.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hide {
  display: none;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nomargin {
  margin: 0;
  padding: 0;
}
.flxrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flxrow > * {
  flex: 1;
}
.flxrow .flex1 {
  flex: 1;
}
.flxrow .flex2 {
  flex: 2;
}
.flxrow .flex3 {
  flex: 3;
}
.flxrow .flex4 {
  flex: 4;
}
/* Global styles */
.grid {
  display: grid;
  margin: 0;
  padding: 0;
}
.grid .gridheader {
  background: #333;
  color: white;
  font-weight: bold;
}
.grid .gridrow {
  display: grid;
  align-items: center;
  height: 26px;
  margin: 0;
  padding: 0;
  border-top: 1px solid lightgray;
}
.grid .gridrow:last-child {
  border-bottom: 1px solid lightgray;
}
.grid .gridcell {
  border-left: 1px solid lightgray;
  text-align: center;
  height: 26px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.grid .gridcell:last-child {
  border-right: 1px solid lightgray;
}
.grid .no-border {
  border: none !important;
}
.grid-1col {
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col-150 {
  grid-column: span 6 / span 6;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;
}
.grid-6col-200 {
  grid-column: span 6 / span 6;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexrow .flex5 {
  flex: 5;
}
.flexrow .flex6 {
  flex: 6;
}
.flexrow .flex7 {
  flex: 7;
}
.flexrow .flex8 {
  flex: 8;
}
.flexrow .flex9 {
  flex: 9;
}
.flexcol {
  display: flex;
  flex-flow: column nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}
.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
  text-align: right;
  display: flex;
  align-items: center;
}
.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-between {
  justify-content: space-between;
}
.no-wrap {
  flex-wrap: nowrap !important;
}
h3 {
  border-bottom: none;
}
.inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.inventory-list.foldable .inventory-header h3 {
  cursor: pointer;
}
.inventory-list.foldable .inventory-header h3:before {
  content: "▾\202F";
}
.inventory-list.folded .inventory-header h3:before {
  content: "▸\202F";
}
.inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.inventory-list .item:last-child {
  border-bottom: none;
}
.inventory-list .item .item-name {
  cursor: pointer;
  max-height: 30px;
  overflow: hidden;
}
.inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.inventory-list .item .item-name h4 {
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../../icons/svg/d20-grey.svg") !important;
}
.inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("../../../icons/svg/d20-black.svg") !important;
}
.inventory-list .item .item-name i.attuned {
  color: #7a7971;
}
.inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.inventory-list .item .item-properties {
  margin-top: 3px;
}
.inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  color: #7a7971;
  white-space: nowrap;
}
.inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  padding-top: 2px;
  font-family: 'MyriadPro', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.inventory-list .item-name {
  color: #4b4a44;
}
.inventory-list .item-detail {
  flex: 0 0 50px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.inventory-list .item-detail:last-child {
  border-right: none;
}
.inventory-list .item-detail.item-action {
  flex: 0 0 120px;
}
.inventory-list .item-subtype {
  flex: 0 1 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inventory-list .item-damage {
  flex: 0 1 70px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
}
.inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inventory-list .item-controls-header {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
  margin-right: 10px;
}
.inventory-list .item-controls-header > * {
  flex: 1;
}
.inventory-list .item-controls-header .flex1 {
  flex: 1;
}
.inventory-list .item-controls-header .flex2 {
  flex: 2;
}
.inventory-list .item-controls-header .flex3 {
  flex: 3;
}
.inventory-list .item-controls-header .flex4 {
  flex: 4;
}
.inventory-list .item-controls-header a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.inventory-list .item-controls {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: nowrap;
}
.inventory-list .item-controls > * {
  flex: 1;
}
.inventory-list .item-controls .flex1 {
  flex: 1;
}
.inventory-list .item-controls .flex2 {
  flex: 2;
}
.inventory-list .item-controls .flex3 {
  flex: 3;
}
.inventory-list .item-controls .flex4 {
  flex: 4;
}
.inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}
.inventory-list .item-controls-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 88px;
  flex: 0 0 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.inventory-list .item-controls-3 > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.inventory-list .item-controls-3 .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.inventory-list .item-controls-3 .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.inventory-list .item-controls-3 .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.inventory-list .item-controls-3 .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.inventory-list .item-controls-3 a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.message-header h2.damage {
  color: orangered;
  font-weight: bold;
}
.message-header h2.critical {
  color: green;
  font-weight: bold;
}
.message-header h2.fumble {
  color: red;
  font-weight: bold;
}
.message-header h2.success {
  color: darkgreen;
  font-weight: bold;
}
.message-header h2.failure {
  color: darkred;
  font-weight: bold;
}
.message-header h2.roll {
  color: darkslategrey;
  font-weight: bold;
}
/* Styles limited to co sheets */
.cog {
  /* Form Groups */
  /*
 Placeholders
 */
}
.cog .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}
.cog.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.cog.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.cog .table-header,
.cog .spacer {
  min-height: 26px;
  height: 26px;
  max-height: 26px;
}
.cog .half-spacer {
  min-height: 13px;
  height: 13px;
  max-height: 13px;
}
.cog .layout {
  padding: 5px;
}
.cog .editor {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.cog .editor .editor-content {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.cog .editor .tox-tinymce {
  background-color: white;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.cog.base.actor {
  /* ----------------------------------------- */
  /*  Layout                                   */
  /* ----------------------------------------- */
}
.cog.base.actor .window-content {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.cog.base.actor .window-content > form {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("../ui/cog/header.png");
  background-repeat: repeat;
}
.cog.base.actor .window-content > form .upper {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
}
.cog.base.actor .window-content > form .upper .logo {
  position: relative;
  top: 30px;
  background-image: url("../ui/cog/logo.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 280px auto;
  min-height: 100px;
  height: 100px;
  max-height: 100px;
}
.cog.base.actor .window-content > form .main {
  min-height: calc(100% - 100px);
  height: calc(100% - 100px);
  max-height: calc(100% - 100px);
}
.cog.base.actor .window-content > form .main .sidebar {
  border-right: 3px solid #caad27;
  padding: 0 5px 0 5px;
  height: 100%;
  max-width: 300px;
}
.cog.base.actor .window-content > form .main .sidebar .charname-title {
  padding-top: 20px;
}
.cog.base.actor .window-content > form .main .sidebar .charname-title .charname {
  font-family: Polentical;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.cog.base.actor .window-content > form .main .sidebar .portrait img.profile {
  border: none;
}
.cog.base.actor .window-content > form .main .content {
  height: 100%;
  padding: 40px 10px 10px 10px;
  border-top: 3px solid #caad27;
  background: white;
}
.cog.base.actor .window-content > form .main .content .sheet-header {
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  padding: 10px 0;
}
.cog.base.actor .window-content > form .main .content .sheet-header .header-details {
  padding: 10px 0;
}
.cog.base.actor .window-content > form .main .content .sheet-header .header-details .field-label {
  text-transform: uppercase;
}
.cog.base.actor .window-content > form .main .content .sheet-header .header-details .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-header .header-details .flexrow {
  margin-bottom: 1px;
}
.cog.base.actor .window-content > form .main .content .sheet-body {
  padding: 10px 0;
  height: calc(100% - 10px);
  min-height: calc(100% - 10px);
  max-height: calc(100% - 10px);
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab {
  margin: 0;
  padding: 0;
  height: calc(100% - 80px);
  min-height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  overflow: auto;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .flexrow {
  margin-bottom: 1px;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .attributes-header {
  font-family: 'MyriadProBold', sans-serif;
  color: #caad27;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .attributes .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .init-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .attacks-header {
  font-family: 'MyriadProBold', sans-serif;
  color: #caad27;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .init .cell-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .attacks .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .defence-header {
  font-family: 'MyriadProBold', sans-serif;
  color: #caad27;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .defence .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .injuries-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .recovery-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .vitality-header {
  font-family: 'MyriadProBold', sans-serif;
  color: #caad27;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .injuries .cell-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .recovery .cell-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .vitality .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .madness-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .resources-header {
  font-family: 'MyriadProBold', sans-serif;
  color: #caad27;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .madness .cell-header,
.cog.base.actor .window-content > form .main .content .sheet-body .tab.stats .resources .cell-header {
  background-color: black;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.combat .inventory-list .item-list .item .item-subtype {
  flex: 0 1 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.combat .weapon .item-name {
  padding-top: 2px;
  border-right: 1px solid #c9c7b8;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.combat .weapon .item-name .weapon-image {
  background-image: url('../ui/cog/weapon.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities {
  overflow: auto;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list {
  box-shadow: 0 4px 3px -3px gray;
  margin: 0 0 5px 0;
  padding: 3px;
  max-height: 205px;
  overflow: hidden;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list .grid {
  font-size: 12px;
  max-height: 150px;
  overflow: auto;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list .grid .gridrow .gridcell {
  padding: 3px 5px;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list .grid .gridrow .gridcell.gridheader {
  background-color: black;
  font-family: 'MyriadProBold', sans-serif;
  color: white;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list .grid .gridrow.gridheader {
  background-color: black;
  font-family: 'MyriadProBold', sans-serif;
  color: white;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list.encounter {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .path-list.encounter .grid {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  overflow: auto;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list {
  min-height: calc(100% - 220px);
  height: calc(100% - 220px);
  max-height: calc(100% - 220px);
  overflow: auto;
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list.p0 {
  min-height: calc(100% - 15px);
  height: calc(100% - 15px);
  max-height: calc(100% - 15px);
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list.p1 {
  min-height: calc(100% - 120px);
  height: calc(100% - 120px);
  max-height: calc(100% - 120px);
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list.p2 {
  min-height: calc(100% - 145px);
  height: calc(100% - 145px);
  max-height: calc(100% - 145px);
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list.p3 {
  min-height: calc(100% - 170px);
  height: calc(100% - 170px);
  max-height: calc(100% - 170px);
}
.cog.base.actor .window-content > form .main .content .sheet-body .tab.capacities .capacity-list.p4 {
  min-height: calc(100% - 195px);
  height: calc(100% - 195px);
  max-height: calc(100% - 195px);
}
.cog.base.actor .window-content > form .main .content .cell {
  height: 26px;
}
.cog.base.actor .window-content > form .main .content .cell .field-value {
  font-family: 'ChN1Regular', cursive;
  font-size: 16px;
}
.cog.base.actor .window-content > form .main .content .cell select.field-value {
  font-size: 14px;
}
.cog.base.actor .window-content > form .main .content .cell-header {
  height: 26px;
  background-color: black;
  color: white;
  padding-top: 2px;
  font-family: 'MyriadProBold', sans-serif;
}
.cog.base.actor .window-content > form .main .content .drop-field {
  background-color: rgba(0, 0, 0, 0.1);
}
.cog.base.actor .window-content > form .main .content .drop-field .drop-item {
  margin-left: 1px;
  padding-top: 5px;
  height: 26px;
}
.cog.base.actor .window-content > form .main .content .drop-field .item {
  padding-top: 3px;
}
.cog.base.actor .window-content > form .main .content .drop-field .item .item-control {
  color: #464331c4;
  visibility: hidden;
  flex: 0 0 18px;
  border: 1px solid transparent;
}
.cog.base.actor .window-content > form .main .content .drop-field:hover > .item > .item-control {
  visibility: visible;
}
.cog.base.item {
  /* ----------------------------------------- */
  /*  Layout                                   */
  /* ----------------------------------------- */
}
.cog.base.item .window-content {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.cog.base.item .window-content > form {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: white;
}
.cog.base.item .window-content > form .sheet-header {
  box-shadow: 0 10px 10px gray;
  background-image: url("../ui/cog/header.png");
  background-repeat: repeat;
  border-bottom: 3px solid #caad27;
  margin-bottom: 20px;
}
.cog.base.item .window-content > form .sheet-header img.profile {
  flex: 0 0 64px;
  max-width: 64px;
  height: 64px;
  object-fit: contain;
  border: none;
}
.cog.base.item .window-content > form .sheet-header .header-details {
  height: 72px;
}
.cog.base.item .window-content > form .sheet-header .header-details h1.charname input[type=text] {
  font-family: Polentical;
  color: white;
  border: none;
  box-shadow: none;
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cog.base.item .window-content > form .sheet-header .header-details .item-subtitle {
  flex: 0 0 100px;
  height: 64px;
  margin: 0;
  padding: 10px;
  text-align: right;
  color: #caad27;
}
.cog.base.item .window-content > form .sheet-header .header-details .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.cog.base.item .window-content > form .sheet-header .header-details .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.cog.base.item .window-content > form .sheet-body {
  height: calc(100% - 125px);
  min-height: calc(100% - 125px);
  max-height: calc(100% - 125px);
  overflow: auto;
}
.cog.base.item .window-content > form .sheet-body .tab {
  background: lightgray;
  padding: 10px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties {
  flex: 0 0 150px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 1px groove #eeede0;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties .form-group {
  margin: 0;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties .form-group label {
  line-height: 20px;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties .form-group input {
  text-align: right;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cog.base.item .window-content > form .sheet-body .tab .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.cog.base nav.sheet-navigation {
  border: none;
}
.cog.base nav.sheet-navigation.tabs {
  font: 14px 'MyriadPro', sans-serif;
  color: #464331c4;
  text-align: center;
  border: none;
  justify-content: center;
}
.cog.base nav.sheet-navigation.tabs .item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  border: 1px solid #736953a6;
  border-radius: 10px 10px 0 0;
  margin: 0 -10px 0 0;
  height: 28px;
  box-shadow: 0 0 10px #00000052 inset;
  background: #AAA;
  width: 16.66%;
}
.cog.base nav.sheet-navigation.tabs .item:hover {
  color: #464331c4;
  background: #CCC;
  text-shadow: none;
}
.cog.base nav.sheet-navigation.tabs .item.active {
  background: #EEE;
  color: #464331c4;
  border: 1px inset #736953a6;
  z-index: 10000;
  text-shadow: none;
}
.cog textarea,
.cog select,
.cog input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.cog textarea:focus,
.cog select:focus,
.cog input:focus,
.cog textarea:active,
.cog select:active,
.cog input:active {
  box-shadow: none;
}
.cog textarea[readonly=true],
.cog select[readonly=true],
.cog input[readonly=true] {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
.cog label.checkbox {
  flex: auto;
  padding: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
}
.cog label.checkbox > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}
.cog label.checkbox.right > input[type="checkbox"] {
  margin: 0 0 0 2px;
}
.cog .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.cog .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cog .form-group .form-fields > * {
  flex: 1;
  margin: 0 3px 0 0;
}
.cog .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.cog .form-group .form-fields > * .flex1 {
  flex: 1;
}
.cog .form-group .form-fields > * .flex2 {
  flex: 2;
}
.cog .form-group .form-fields > * .flex3 {
  flex: 3;
}
.cog .form-group .form-fields > * .flex4 {
  flex: 4;
}
.cog .form-group .form-fields label {
  flex: 0 0 100%;
  margin: 0;
}
.cog .form-group .form-fields label.checkbox {
  flex: auto;
  text-align: left;
}
.cog .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.cog .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.cog .form-header {
  margin: 0 0 0.25em 0;
  padding: 8px 0 5px 0;
  border-top: 1px groove #eeede0;
  border-bottom: 1px groove #eeede0;
  font-family: 'MyriadProBold', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.cog .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.cog ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}
.cog :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}
.cog ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}
.cog input::placeholder {
  color: lightgray;
}
