<div class="row flexrow top">
    <div class="flex1" style="margin-right: 5px;">
        <!-- NAME -->
        <div class="row flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COG.details.name' }}</span>
            </div>
            <div class="flex2 center cell">
                <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'COG.details.name' }}" data-dtype="String"/>
            </div>
        </div>
        <!-- /NAME -->
        <!-- NC -->
        {{#if (isNotLimited @root)}}
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COG.attributes.nc.abbrev' }}</span>
                </div>
                <div class="flex2 center cell">
                    <input class="level" name="system.nc.value" type="text" value="{{actor.system.nc.value}}" placeholder="{{ localize 'COG.attributes.nc.label' }}" data-dtype="Number"/>
                </div>
            </div>
        {{/if}}
        <!-- /NC -->
        <!-- SIZE -->
        <div class="row flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COG.details.size' }}</span>
            </div>
            <div class="flex2 center cell">
                <select name="system.details.size" data-type="String" style="width:100%">
                    {{#select system.details.size}}
                        <option value="">{{localize "COG.None"}}</option>
                        <option value="tiny">Minuscule</option>
                        <option value="small">Très petite</option>
                        <option value="short">Petite</option>
                        <option value="med">Moyenne</option>
                        <option value="big">Grande</option>
                        <option value="huge">Énorme</option>
                        <option value="colossal">Colossale</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <!-- /SIZE -->
    </div>
    <div class="flex1">
        {{#if (isNotLimited @root)}}
        <!-- ARCHETYPE -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COG.ui.archetype' }}</span>
                </div>
                <div class="flex2 center cell">
                    <select name="system.archetype" data-type="String" style="width:100%">
                        {{#select system.archetype}}
                            <option value="">{{localize "COG.None"}}</option>
                            <option value="standard">Standard</option>
                            <option value="rapide">Rapide</option>
                            <option value="puissant">Puissant</option>
                            <option value="inférieur">Inférieur</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <!-- /ARCHETYPE -->
            <!-- CATEGORY -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COG.ui.category' }}</span>
                </div>
                <div class="flex2 center cell">
                    <select name="system.category" data-type="String" style="width:100%">
                        {{#select system.category}}
                            <option value="">{{localize "COG.None"}}</option>
                            <option value="vivante">Vivante</option>
                            <option value="humanoïde">Humanoïde</option>
                            <option value="non-vivante">Non-vivante</option>
                        {{/select}}
                    </select>

                </div>
            </div>
            <!-- /CATEGORY -->
            <!-- BOSS RANK -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COG.ui.boss' }}</span>
                </div>
                <div class="flex2 center cell">
                    <select name="system.boss.rank" data-type="String" style="width:100%">
                        {{#select system.boss.rank}}
                            <option value="">{{localize "COG.None"}}</option>
                            <option value="1">Endurci</option>
                            <option value="2">Expert</option>
                            <option value="3">Elite</option>
                            <option value="4">Légendaire</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <!-- /BOSS RANK -->
        {{/if}}
    </div>
</div>
