{{#if (equals capacities.count 0)}}
    <p class="empty">{{localize "COG.notification.noCapacitySelected"}}</p>
{{else}}
    {{#each capacities.collections as |collection id|}}
        {{#if (gt collection.items.length 0)}}
            <ol class="inventory-list foldable {{#if (includes ../folded.capacities collection.id)}}folded{{/if}}" data-tab="capacities" data-category="{{collection.id}}" data-path-id="{{collection.id}}">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{collection.label}}</h3>
                    <div class="item-detail">{{localize "COG.ui.rank"}}</div>
                    <div class="item-detail">L</div>
                    <div class="item-detail">S</div>
                    {{#if @root.editable}}
                        <div class="item-controls-3">
                            <a class="item-control item-create cog-compendium-pack" data-pack="capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp; {{localize "COG.ui.add"}}</a>
                        </div>
                    {{/if}}
                </li>
                <ol class="item-list" {{#if (includes ../folded.capacities collection.id)}}style="display: none;"{{/if}}>
                    {{#each collection.items as |capacity id|}}
                        <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="item" draggable="true">
                            <div class="item-name flexrow">
                                <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                                <h4>{{capacity.name}}</h4>
                            </div>
                            <div class="item-detail">{{#if capacity.system.rank}}{{capacity.system.rank}}{{/if}}</div>
                            <div class="item-detail">{{#if capacity.system.limited}}L{{/if}}</div>
                            <div class="item-detail">{{#if capacity.system.spell}}&#10033;{{/if}}</div>
                            {{#if @root.editable}}
                                <div class="item-controls-3">
                                    <a class="item-control item-to-chat" title='{{localize "COG.ui.sendItemToChat"}}'><i class="fas fa-comments"></i></a>
                                    <a class="item-control item-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
                                </div>
                            {{/if}}
                            <div class="item-summary" style="display: none">
                                {{{capacity.system.description}}}
                                <div class="item-properties">                                    
                                    {{#if capacity.system.spell}}<span class="tag">{{localize "COG.ui.spell"}}</span>{{/if}}
                                    {{#if capacity.system.limited}}<span class="tag">{{localize "COG.ui.limited"}}</span>{{/if}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </ol>
        {{/if}}
    {{/each}}
{{/if}}
