{{#if (isEmpty paths)}}
    <p class="empty">{{localize "COG.notification.noPathSelected"}}</p>
{{else}}
    <div class="path-list">
        <div class="grid">
            <div class="gridrow grid-6col-150 gridheader">
                <div>&nbsp;</div>
                <div class="gridcell gridcell-sm bg-default">1</div>
                <div class="gridcell gridcell-sm bg-default">2</div>
                <div class="gridcell gridcell-sm bg-default">3</div>
                <div class="gridcell gridcell-sm bg-default">4</div>
                <div class="gridcell gridcell-sm bg-default">5</div>
            </div>
            {{#each paths as |path id|}}
                <div class="gridrow grid-6col-150 item" data-item-id="{{path._id}}" data-item-type="item" data-pack="paths">
                    <div class="gridcell left gridheader color-default no-border">
                        <a class="item-edit ellipsis" style="width: 100%; text-align: left" title="{{path.name}}">{{path.name}}</a>&nbsp;
                        <span class="path-controls item" data-item-id="{{path._id}}" style="padding-right:5px;"><a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-times"></i></a></span>
                    </div>
                    {{#each path.system.capacities as |capacity id|}}
                        <div class="gridcell gridcell-sm item capacity left color-default no-wrap" data-item-id="{{capacity._id}}" data-item-type="item" data-pack="capacities" data-path-id="{{path._id}}">
                            {{#if capacity.data.checked}}
                                <a class="capacity-control capacity-checked" title="{{capacity.name}}"><i class="fas fa-square"></i></a>&nbsp;
                                <a class="capacity-control item-edit ellipsis">{{capacity.name}}</a>
                            {{else}}
                            <a class="capacity-control capacity-unchecked" title="{{capacity.name}}"><i class="far fa-square"></i>&nbsp;<a class="capacity-control item-edit ellipsis">{{capacity.name}}</a>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
        {{#if (or (equals actor.type "npc") (equals actor.type "character"))}}
            <hr/>
            <div class="row flexrow">
                <div class="flex1 left">
                    <h3>{{localize "COG.ui.activeCapacities"}}</h3>
                </div>
                <div class="flex1 right {{#if (isNegative actor.system.xp.value)}}red{{/if}}">
                    <span class="field-label">{{localize "COG.ui.CapacityPoints"}} {{actor.system.xp.value}}/{{actor.system.xp.max}}</span>
                    <input name="system.xp.value" type="hidden" value="{{actor.system.xp.value}}" data-dtype="Number"/>
                    <input name="system.xp.max" type="hidden" value="{{actor.system.xp.max}}" data-dtype="Number"/>
                </div>
            </div>
        {{/if}}
    </div>
{{/if}}

{{> "systems/co-galactiques/templates/actors/parts/capacities/actor-capacities.hbs"}}

{{!--{{#if (isEmpty (getPaths actor.items))}}--}}
{{!--    <!--    <p class="empty">Aucune voie n'a été ajoutée pour le moment.</p>-->--}}
{{!--{{else}}--}}
{{!--    <div class="path-list">--}}
{{!--        <div class="grid">--}}
{{!--            <div class="gridrow grid-6col-150 gridheader">--}}
{{!--                <div>&nbsp;</div>--}}
{{!--                <div class="gridcell gridcell-sm">1</div>--}}
{{!--                <div class="gridcell gridcell-sm">2</div>--}}
{{!--                <div class="gridcell gridcell-sm">3</div>--}}
{{!--                <div class="gridcell gridcell-sm">4</div>--}}
{{!--                <div class="gridcell gridcell-sm">5</div>--}}
{{!--            </div>--}}
{{!--            {{#each paths as |path id|}}--}}
{{!--                <div class="gridrow grid-6col-150 item" data-item-id="{{path._id}}" data-item-type="item" data-pack="cog.paths">--}}
{{!--                    <div class="gridcell left gridheader no-border">--}}
{{!--                        <a class="item-edit ellipsis" style="width: 100%; text-align: left" title="{{path.name}}">{{path.name}}</a>&nbsp;--}}
{{!--                        <span class="path-controls item" data-item-id="{{path._id}}" style="padding-right:5px;"><a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-times"></i></a></span>--}}
{{!--                    </div>--}}
{{!--                    {{#each path.capacities as |capacity id|}}--}}
{{!--                        <div class="gridcell gridcell-sm item capacity left" data-item-id="{{capacity._id}}" data-item-type="item" data-pack="cog.capacities" data-path-id="{{path._id}}">--}}
{{!--                            {{#if capacity.checked}}--}}
{{!--                                <a class="capacity-control capacity-checked" title="{{capacity.name}}"><i class="fas fa-square"></i></a>&nbsp;--}}
{{!--                                <a class="capacity-control item-edit ellipsis">{{capacity.name}}</a>--}}
{{!--                            {{else}}--}}
{{!--                            <a class="capacity-control capacity-unchecked" title="{{capacity.name}}"><i class="far fa-square"></i>&nbsp;--}}
{{!--                                <a class="capacity-control item-edit ellipsis">{{capacity.name}}</a>--}}
{{!--                            {{/if}}--}}
{{!--                        </div>--}}
{{!--                    {{/each}}--}}
{{!--                </div>--}}
{{!--            {{/each}}--}}
{{!--        </div>--}}
{{!--        {{#if (equals actor.type "character")}}--}}
{{!--            <hr/>--}}
{{!--            {{#if (isNegative actor.system.xp.value)}}--}}
{{!--                <div class="row flexrow red">--}}
{{!--                    <div class="flex1 right">--}}
{{!--                        <span class="field-label">Points de capacités {{actor.system.xp.value}}/{{actor.system.xp.max}}</span>--}}
{{!--                        <input name="system.xp.value" type="hidden" value="{{actor.system.xp.value}}" data-dtype="Number"/>--}}
{{!--                        <input name="system.xp.max" type="hidden" value="{{actor.system.xp.max}}" data-dtype="Number"/>--}}
{{!--                    </div>--}}
{{!--                </div>--}}
{{!--            {{else}}--}}
{{!--                <div class="row flexrow">--}}
{{!--                    <div class="flex1 right">--}}
{{!--                        <span class="field-label">Points de capacités {{actor.system.xp.value}}/{{actor.system.xp.max}}</span>--}}
{{!--                        <input name="system.xp.value" type="hidden" value="{{actor.system.xp.value}}" data-dtype="Number"/>--}}
{{!--                        <input name="system.xp.max" type="hidden" value="{{actor.system.xp.max}}" data-dtype="Number"/>--}}
{{!--                    </div>--}}
{{!--                </div>--}}
{{!--            {{/if}}--}}
{{!--        {{/if}}--}}
{{!--    </div>--}}
{{!--{{/if}}--}}

