<ol class="inventory-list">
    <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Capacités</h3>
            <div class="item-detail">L</div>
            <div class="item-detail">S</div>
            <div class="item-controls">
                <a class="item-control item-create capacity-add" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp;</a>
            </div>
    </li>
    {{#if (equals capacities.length 0)}}
        <p class="empty">{{localize "COG.notification.noCapacitySelected"}}</p>
    {{else}}
        <ol class="item-list">
            {{#each capacities as |capacity id|}}
                <li class="item flexrow" data-item-id="{{_id}}" data-item-type="item" draggable="true">
                    <div class="item-name flexrow">
                        <div class="item-image encounter-capacity-icon" style="background-image: url('{{img}}')"></div>
                        <h4>{{name}}</h4>
                    </div>
                    {{#with capacity}}
                        <div class="item-detail">{{#if system.rank}}{{system.rank}}{{/if}}</div>
                        <div class="item-detail">{{#if system.limited}}L{{/if}}</div>
                        <div class="item-detail">{{#if system.spell}}&#10033;{{/if}}</div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="item-summary" style="display: none">
                            {{{system.description}}}
                            <div class="item-properties">
                                {{#if system.spell}}<span class="tag">{{localize "COG.ui.spell"}}</span>{{/if}}
                                {{#if system.limited}}<span class="tag">{{localize "COG.ui.limited"}}</span>{{/if}}
                            </div>
                        </div>
                    {{/with}}
                </li>
            {{/each}}
        </ol>
    {{/if}}
</ol>
