{{> "systems/co-galactiques/templates/items/parts/details/setting-details.hbs"}}

<h3 class="form-header">{{localize "COG.ui.properties"}}</h3>
<input class="field-value" name="system.key" type="hidden" value="{{system.key}}" placeholder="{{ localize "COG.ui.key" }}" data-dtype="String">
<div class="form-group stacked">
    <label>Propriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="system.limited" {{checked system.limited}}> {{localize "COG.ui.limited"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.spell" {{checked system.spell}}> {{localize "COG.ui.spell"}}
        </label>
    </div>
</div>
