<h3 class="form-header">Effets</h3>
<div class="form-group">
    <label>{{localize "COG.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="system.properties.heal" {{checked system.properties.heal}}> {{localize "COG.properties.heal"}}</label>
        <label class="checkbox"> <input type="checkbox" name="system.properties.buff" {{checked system.properties.buff}}> {{localize "COG.properties.buff"}}</label>
        <label class="checkbox"> <input type="checkbox" name="system.properties.temporary" {{checked system.properties.temporary}}> {{localize "COG.properties.temporary"}}</label>
        <label class="checkbox"> <input type="checkbox" name="system.properties.persistent" {{checked system.properties.persistent}}> {{localize "COG.properties.persistent"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.spell" {{checked system.properties.spell}}> {{localize "COG.properties.spell"}}</label>
    </div>
</div>

{{#if system.properties.heal}}
    <div class="form-group">
        <label>{{ localize "COG.ui.heal" }}</label>
        <div class="form-fields">
            <input type="text" name="system.effects.heal.formula" value="{{system.effects.heal.formula}}" placeholder="{{localize "COG.ui.formula"}}" data-dtype="String"/>
        </div>
    </div>
{{/if}}

{{#if system.properties.buff}}
    <div class="form-group">
        <label>{{ localize "COG.ui.buff" }}</label>
        <div class="form-fields">
            <input type="text" name="system.effects.buff.formula" value="{{system.effects.buff.formula}}" placeholder="{{localize "COG.ui.formula"}}" data-dtype="String"/>
        </div>
    </div>
{{/if}}

{{#if system.properties.temporary}}
    <div class="form-group">
        <label>{{ localize "COG.ui.duration" }}</label>
        <div class="form-fields">
            <input type="number" name="system.properties.duration.formula" value="{{system.properties.duration.formula}}" placeholder="{{localize "COG.ui.formula"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "COG.ui.units" }}</label>&nbsp;
        <select name="system.properties.duration.units" data-type="String" style="width:100%">
        {{#select system.properties.duration.units}}
            <option value="">{{localize "COG.None"}}</option>
            <option value="rounds">{{localize "COG.ui.rounds"}}</option>
            <option value="minutes">{{localize "COG.ui.minutes"}}</option>
            <option value="hours">{{localize "COG.ui.hours"}}</option>
            <option value="days">{{localize "COG.ui.days"}}</option>
        {{/select}}
    </select>
    </div>
{{/if}}
