<h3 class="form-header">Attaque</h3>

<div class="form-group">
    <label>{{localize "COG.ui.skill"}} (Mod)</label>
    <div class="form-fields">
        <input name="system.weapon.mod" type="text" value="{{numberFormat system.weapon.mod decimals=0 sign=true}}" placeholder="{{localize "COG.ui.skillBonus"}}" data-dtype="Number">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.skillBonus"}}</label>
    <div class="form-fields">
        <input name="system.weapon.skillBonus" type="text" value="{{numberFormat system.weapon.skillBonus decimals=0 sign=true}}" placeholder="{{localize "COG.ui.skillBonus"}}" data-dtype="Number">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.critrange"}}</label>
    <div class="form-fields">
        <input name="system.weapon.critrange" type="text" value="{{system.weapon.critrange}}" placeholder="{{localize "COG.ui.critrange"}}" data-dtype="String">
    </div>
</div>

<h3 class="form-header">Dommages</h3>

<div class="form-group">
    <label>{{localize "COG.ui.dmgBase"}}</label>
    <div class="form-fields">
        <input name="system.weapon.dmg" type="text" value="{{system.weapon.dmg}}" placeholder="{{localize "COG.ui.dmgBase"}}" data-dtype="String">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.dmgBonus"}}</label>
    <div class="form-fields">
        <input name="system.weapon.dmgBonus" type="text" value="{{numberFormat system.weapon.dmgBonus decimals=0 sign=true}}" placeholder="{{localize "COG.ui.dmgBonus"}}" data-dtype="Number">
    </div>
</div>

<h3 class="form-header">Autres</h3>
<div class="form-group">
    <label>{{localize "COG.ui.range"}}</label>
    <div class="form-fields">
        <input name="system.weapon.range" type="text" value="{{system.weapon.range}}" placeholder="{{localize "COG.ui.range"}}" data-dtype="String">
    </div>
</div>
