<h3 class="form-header">{{localize "COG.ui.equipment"}}</h3>

<div class="form-group">
    <label>{{localize "COG.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="system.properties.equipable" {{checked system.properties.equipable}}> {{localize "COG.ui.equipable"}}</label>
{{#if (not system.properties.unique)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.stackable" {{checked system.properties.stackable}}> {{localize "COG.ui.stackable"}}</label>
{{/if}}
{{#if (not system.properties.stackable)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.unique"    {{checked system.properties.unique}}> {{localize "COG.properties.unique"}}</label>
{{/if}}
        <label class="checkbox"><input type="checkbox" name="system.properties.consumable" {{checked system.properties.consumable}}> {{localize "COG.properties.consumable"}}</label>
        <label class="checkbox"> <input type="checkbox" name="system.properties.tailored"  {{checked system.properties.tailored}}> {{localize "COG.properties.tailored"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.2H" {{checked system.properties.2H}}> {{localize "COG.ui.2H"}}</label>
    </div>
</div>
{{#if system.properties.equipable}}
    <div class="form-group">
        <label>{{localize "COG.ui.slot"}}</label>
        <div class="form-fields">
            <select name="system.slot" data-type="String" style="width:100%">
                {{#select system.slot}}
                    <option value="">{{localize "COG.None"}}</option>
                    <option value="hand">{{localize "COG.slot.hand"}}</option>
                    <option value="head">{{localize "COG.slot.head"}}</option>
                    <option value="ear">{{localize "COG.slot.ear"}}</option>
                    <option value="neck">{{localize "COG.slot.neck"}}</option>
                    <option value="shoulders">{{localize "COG.slot.shoulders"}}</option>
                    <option value="chest">{{localize "COG.slot.chest"}}</option>
                    <option value="back">{{localize "COG.slot.back"}}</option>
                    <option value="arm">{{localize "COG.slot.arm"}}</option>
                    <option value="finger">{{localize "COG.slot.finger"}}</option>
                    <option value="wrist">{{localize "COG.slot.wrist"}}</option>
                    <option value="waist">{{localize "COG.slot.waist"}}</option>
                    <option value="legs">{{localize "COG.slot.legs"}}</option>
                    <option value="feet">{{localize "COG.slot.feet"}}</option>
                    <option value="belt">{{localize "COG.slot.belt"}}</option>
                    <option value="backpack">{{localize "COG.slot.backpack"}}</option>
                    <option value="quiver">{{localize "COG.slot.quiver"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
{{/if}}
<div class="form-group">
    <label>{{ localize "COG.ui.price" }}</label>&nbsp; <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
</div>
<div class="form-group">
    <label>{{ localize "COG.ui.strmin" }}</label>&nbsp; <input type="number" name="system.strmin" value="{{system.strmin}}" data-dtype="Number"/>
</div>

{{#if system.properties.stackable}}
    <div class="form-group">
        <label>{{ localize "COG.ui.quantity" }}</label>
        <div class="form-fields">
            <input type="number" name="system.qty" value="{{system.qty}}" placeholder="{{localize "COG.ui.quantity"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "COG.ui.stacksize"}}</label>
        <div class="form-fields">
            <input name="system.stacksize" type="text" value="{{system.stacksize}}" placeholder="{{localize "COG.placeholders.stacksize"}}" data-dtype="Number">
        </div>
    </div>
{{/if}}
