<h3 class="form-header">Type d'équipement</h3>
<div class="form-group">
    <label>Sous-catégorie</label>
    <div class="form-fields">
        <select name="system.subtype" data-type="String" style="width:100%">
            {{#select system.subtype}}
                {{#each config.itemCategories as | category id |}}
                    <option value="{{id}}">{{localize category}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{> "systems/co-galactiques/templates/items/parts/details/setting-details.hbs"}}

<div class="form-group stacked">
    <label>Traits</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="system.properties.equipment" {{checked system.properties.equipment}}> {{localize "COG.properties.equipment"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.weapon" {{checked system.properties.weapon}}> {{localize "COG.properties.weapon"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.protection" {{checked system.properties.protection}}> {{localize "COG.properties.protection"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.ranged" {{checked system.properties.ranged}}> {{localize "COG.properties.ranged"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.effects" {{checked system.properties.effects}}> {{localize "COG.properties.effects"}}
        </label>
    </div>
</div>

{{#if system.properties.equipment}}
    {{> "systems/co-galactiques/templates/items/parts/details/equipment-details.hbs"}}
{{/if}}
{{#if system.properties.weapon}}
    {{> "systems/co-galactiques/templates/items/parts/details/weapon-details.hbs"}}
{{/if}}
{{#if system.properties.protection}}
    {{> "systems/co-galactiques/templates/items/parts/details/protection-details.hbs"}}
{{/if}}
{{#if system.properties.ranged}}
    {{> "systems/co-galactiques/templates/items/parts/details/ranged-details.hbs"}}
{{/if}}
{{#if system.properties.effects}}
    {{> "systems/co-galactiques/templates/items/parts/details/effects-details.hbs"}}
{{/if}}
{{#if system.properties.spell}}
    {{> "systems/co-galactiques/templates/items/parts/details/spell-details.hbs"}}
{{/if}}
{{#if actor}}
    {{> "systems/co-galactiques/templates/items/parts/details/usage-details.hbs"}}
{{/if}}
