{{> "systems/co-galactiques/templates/items/parts/details/setting-details.hbs"}}

<h3 class="form-header">{{localize "COG.ui.properties"}}</h3>
<input class="field-value" name="system.key" type="hidden" value="{{item.system.key}}" placeholder="{{ localize "COG.ui.key" }}" data-dtype="String">

<div class="form-group stacked">
    <label>Type</label>
    <div class="form-fields">
        <label class="checkbox"><input type="checkbox" name="system.properties.profile" {{checked system.properties.profile}}> {{localize "COG.properties.profile"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.prestige" {{checked system.properties.prestige}}> {{localize "COG.properties.prestige"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.alternative" {{checked system.properties.alternative}}> {{localize "COG.properties.alternative"}}</label>
    </div>
</div>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Capacités</h3>
        <div class="item-detail"></div>
        <div class="item-detail item-rank">Rang</div>
        <div class="item-controls">
            <a class="item-control item-create cog-compendium-pack" data-pack="cog.capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp; Add</a>
        </div>
    </li>
    {{#each system.capacities as |capacity id|}}
    <ol class="item-list">
        <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" data-key="{{capacity.data.key}}" draggable="true">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                <h4>{{capacity.name}}</h4>
            </div>
            <div class="item-detail"></div>
            <div class="item-detail item-rank">{{add id 1}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
    {{/each}}
</ol>
