{{> "systems/co-galactiques/templates/items/parts/details/setting-details.hbs"}}

<h3 class="form-header">{{localize "COG.ui.properties"}}</h3>
<input class="field-value" name="system.key" type="hidden" value="{{item.system.key}}" placeholder="{{ localize "COG.ui.key" }}" data-dtype="String">
<div class="form-group">
    <label>{{localize "COG.ui.hd"}}</label>
    <div class="form-fields">
        <select name="system.dv" data-type="String" style="width:100%">
            {{#select system.dv}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="1d4">d4</option>
                <option value="1d6">d6</option>
                <option value="1d8">d8</option>
                <option value="1d10">d10</option>
                <option value="1d12">d12</option>
                <option value="1d20">d20</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>Famille de profil</label>
    <div class="form-fields">
        <select name="system.family" data-type="String" style="width:100%">
            {{#select system.family}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="action">Action</option>
                <option value="adventure">Aventure</option>
                <option value="reflexion">Réflexion</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.spellcasting"}}</label>
    <div class="form-fields">
        <select name="system.spellcasting" data-type="String" style="width:100%">
            {{#select system.spellcasting}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="@stats.int.mod">{{localize "COG.stats.int.label"}}</option>
                <option value="@stats.wis.mod">{{localize "COG.stats.wis.label"}}</option>
                <option value="@stats.cha.mod">{{localize "COG.stats.cha.label"}}</option>
            {{/select}}
        </select>
    </div>
</div>


<h3 class="form-header">Bonus</h3>

<div class="form-group">
    <label>{{localize "COG.attacks.melee.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.atc" type="text" value="{{numberFormat system.bonuses.atc decimals=0 sign=true}}" placeholder="{{localize "COG.attacks.melee.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COG.attacks.ranged.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.atd" type="text" value="{{numberFormat system.bonuses.atd decimals=0 sign=true}}" placeholder="{{localize "COG.attacks.ranged.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COG.attacks.magic.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.atm" type="text" value="{{numberFormat system.bonuses.atm decimals=0 sign=true}}" placeholder="{{localize "COG.attacks.magic.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{getFpLabel}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.fp" type="text" value="{{numberFormat system.bonuses.fp decimals=0 sign=true}}" placeholder="{{getFpLabel}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "COG.attributes.xp.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="system.bonuses.xp" type="text" value="{{numberFormat system.bonuses.xp decimals=0 sign=true}}" placeholder="{{localize "COG.attributes.xp.label"}}" data-dtype="Number">
    </div>
</div>

<h3 class="form-header">Ressources</h3>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Voies</h3>
        <div class="item-controls">
            <a class="item-control item-create cog-compendium-pack" data-pack="cog.paths" data-open="0" title="Ajouter une voie"><i class="fas fa-plus"></i>&nbsp; Add</a>
        </div>
    </li>
{{#each system.paths}}
    <ol class="item-list">
        <li class="item flexrow" data-item-id="{{_id}}" data-item-type="path" data-key="{{system.key}}" draggable="true">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{img}}')"></div>
                <h4>{{name}}</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
{{/each}}
</ol>
