<h3 class="form-header">Propriétés d'armes à distance</h3>
<div class="form-group">
    <label>{{localize "COG.ui.range"}}</label>
    <div class="form-fields">
        <input name="system.range" type="text" value="{{item.system.range}}" placeholder="Range" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>Propriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="system.properties.reloadable" {{checked item.system.properties.reloadable}}> {{localize "COG.properties.reloadable"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.salve" {{checked item.system.properties.salve}}> {{localize "COG.properties.salve"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.proneshot" {{checked item.system.properties.proneshot}}> {{localize "COG.properties.proneshot"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.explosive" {{checked item.system.properties.explosive}}> {{localize "COG.properties.explosive"}}
        </label>
    </div>
</div>
{{#if system.properties.reloadable}}
    <div class="form-group">
        <label>{{localize "COG.ui.reload"}}</label>
        <div class="form-fields">
            <select name="system.reload" data-type="String" style="width:100%">
                {{#select system.reload}}
                    <option value="">{{localize "COG.ui.noAction"}}</option>
                    <option value="s">{{localize "COG.ui.simpleAction"}}</option>
                    <option value="l">{{localize "COG.ui.limitedAction"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
{{/if}}
