<div class="form-group">
    <label>Setting</label>
    <div class="form-fields">
        <select name="system.setting" data-type="String" style="width:100%">
            {{#select system.setting}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="base">{{localize "COG.setting.base"}}</option>
                <option value="epouvante">{{localize "COG.setting.epouvante"}}</option>
                <option value="pulp">{{localize "COG.setting.pulp"}}</option>
                <option value="zombis">{{localize "COG.setting.zombis"}}</option>
                <option value="espionnage">{{localize "COG.setting.espionnage"}}</option>
                <option value="surhumains">{{localize "COG.setting.surhumains"}}</option>
                <option value="cyberpunk">{{localize "COG.setting.cyberpunk"}}</option>
            {{/select}}
        </select>
    </div>
</div>
