<h3 class="form-header">Propriétés d'arme</h3>
<div class="form-group">
    <label>{{localize "COG.ui.skill"}}</label>
    <div class="form-fields">
        <select name="system.skill" data-type="String" style="width:100%">
            {{#select system.skill}}
                <option value="@attacks.melee.mod">{{localize "COG.attacks.melee.label"}}</option>
                <option value="@attacks.ranged.mod">{{localize "COG.attacks.ranged.label"}}</option>
                <option value="@attacks.magic.mod">{{localize "COG.attacks.magic.label"}}</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.skillBonus"}}</label>
    <div class="form-fields">
        <input name="system.skillBonus" type="text" value="{{numberFormat system.skillBonus decimals=0 sign=true}}" placeholder="{{localize "COG.ui.skillBonus"}}" data-dtype="Number">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.dmgBase"}}</label>
    <div class="form-fields">
        <input name="system.dmgBase" type="text" value="{{system.dmgBase}}" placeholder="{{localize "COG.ui.dmgBase"}}" data-dtype="String">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.dmgStat"}}</label>
    <div class="form-fields">
        <select name="system.dmgStat" data-type="String" style="width:100%">
            {{#select system.dmgStat}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="@stats.str.mod">{{localize "COG.stats.str.label"}}</option>
                <option value="@stats.dex.mod">{{localize "COG.stats.dex.label"}}</option>
                <option value="@stats.con.mod">{{localize "COG.stats.con.label"}}</option>
                <option value="@stats.int.mod">{{localize "COG.stats.int.label"}}</option>
                <option value="@stats.wis.mod">{{localize "COG.stats.wis.label"}}</option>
                <option value="@stats.cha.mod">{{localize "COG.stats.cha.label"}}</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.dmgBonus"}}</label>
    <div class="form-fields">
        <input name="system.dmgBonus" type="text" value="{{numberFormat system.dmgBonus decimals=0 sign=true}}" placeholder="{{localize "COG.ui.dmgBonus"}}" data-dtype="Number">
    </div>
</div>

<div class="form-group">
    <label>{{localize "COG.ui.critrange"}}</label>
    <div class="form-fields">
        <input name="system.critrange" type="text" value="{{system.critrange}}" placeholder="{{localize "COG.ui.critrange"}}" data-dtype="String">
    </div>
</div>
<div class="form-group">
    <label>Propriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="system.properties.bashing" {{checked item.system.properties.bashing}}> {{localize "COG.properties.bashing"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.properties.13strmin" {{checked item.system.properties.13strmin}}> {{localize "COG.properties.13strmin"}}
        </label>
    </div>
</div>
