
<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize "COG.category.effects"}}</h3>
        <div class="item-detail">Durée</div>
        {{#if isEffectsEditable}}
            <div class="item-detail">Action</div>
            <div class="item-controls">
                <a class="item-control item-create effect-create" title="Ajouter un effet"><i class="fas fa-plus"></i>&nbsp; Aj.</a>
            </div>
        {{/if}}
    </li>
        <ol class="item-list">
        {{#each effects as |effect id|}}
            {{> "systems/co-galactiques/templates/effects/effects-item.hbs" effect}}
        {{/each}}
        </ol>           
</ol>
        
