<li class="item effect flexrow" data-item-id="{{id}}" data-item-type="effect" draggable="true">
    <div class="item-name flexrow">
        <div class="item-image effect-icon" style="background-image: url('{{icon}}')"></div>
        <h4>{{label}}</h4>
    </div>
    <div class="item-detail">
        {{#if duration.rounds}}{{duration.rounds}} R{{/if}}
        {{#if duration.turns}}{{duration.turns}} T{{/if}}
        {{#if duration.seconds}}{{duration.seconds}} S{{/if}}
        {{#if isTemporary}}(T){{/if}}
    </div>
    {{#if @root.isEffectsEditable}}
        <div class="item-detail">
        {{#if disabled}}
            <a class="item-control effect-toggle" title="Activer" style="color:lightgray;"><i class="fas fa-toggle-off"></i></a>
        {{else}}
            <a class="item-control effect-toggle" title="Désactiver"><i class="fas fa-toggle-on"></i></a>
        {{/if}}
        </div>
        <div class="item-controls">
            <a class="item-control effect-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control effect-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
        </div>
    {{/if}}
</li>
