<div class="flexrow no-wrap">
    <div class="flex1 layout">
        <!-- STATS -->
        {{#if (equals actor.type "character")}}
            {{> "systems/co-galactiques/templates/actors/parts/stats/actor-attributes.hbs"}}
        {{else}}
            {{> "systems/co-galactiques/templates/actors/parts/stats/npc-attributes.hbs"}}
        {{/if}}
    </div>
    <div class="flex1 layout">
        <!-- ATTAQUES -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-attacks.hbs"}}
<!--        <div class="flexrow"><div class="flex1 spacer"></div></div>-->
        <!-- INIT -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-init.hbs"}}
    </div>
</div>
<div class="flexrow"><div class="flex1 half-spacer"></div></div>
<div class="flexrow no-wrap">
    <div class="flex1 layout">
        <!-- VITALITE -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-vitality.hbs"}}
        <div class="flexrow"><div class="flex1 half-spacer"></div></div>
        <!-- DEFENSE -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-defence.hbs"}}
    </div>    
    {{#unless (equals actor.type "encounter")}}
    <div class="flex1 layout">    
        <!-- RECOVERY -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-recovery.hbs"}}        
        <!-- RESOURCES -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-resources.hbs"}}
    </div>    
    {{/unless}}
</div>
{{#unless (equals actor.type "encounter")}}
<div class="flexrow no-wrap">
    <div class="flex1 layout">
        <!-- INJURIES -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-injuries.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- MADNESS -->
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-madness.hbs"}}
    </div>
</div>
{{/unless}}
