<div class="flexrow table-header attacks-header no-wrap">
    <div class="flex2 center">
        <div class="field-label ellipsis">{{ localize 'COG.attacks.label' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.base' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.bonus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.mod' }}</div>
    </div>
</div>
{{#each system.attacks as |attack id|}}
<div class="flexrow no-wrap attacks">
    <div class="flex2 center cell-header rollable" data-rolling="system.attacks.{{id}}" data-roll-type="skillcheck">
        <span class="field-label ellipsis"><i class="fas fa-dice-d20"></i>&nbsp;{{ localize attack.abbrev }}</span>
        <input name="system.attacks.{{id}}.abbrev" type="hidden" value="{{attack.abbrev}}" data-dtype="String"/>
        <input name="system.attacks.{{id}}.label" type="hidden" value="{{attack.label}}" data-dtype="String"/>
        <input name="system.attacks.{{id}}.key" type="hidden" value="{{attack.key}}" data-dtype="String"/>
    </div>
    <div class="flex1 center cell">
        {{#if (isNull attack.base)}}
            <input class="field-value" name="system.attacks.{{id}}.base" type="text" value="" placeholder="Base" data-dtype="Number"/>
        {{else}}
            <input class="field-value" name="system.attacks.{{id}}.base" type="text" value="{{numberFormat attack.base decimals=0 sign=true}}" placeholder="Base" data-dtype="Number"/>
        {{/if}}
    </div>
    <div class="flex1 center cell">
        {{#if (isNull attack.base)}}
            <input class="field-value" name="system.attacks.{{id}}.bonus" type="text" value="" placeholder="Bonus" data-dtype="Number"/>
        {{else}}
            <input class="field-value" name="system.attacks.{{id}}.bonus" type="text" value="{{numberFormat attack.bonus decimals=0 sign=true}}" placeholder="Bonus" data-dtype="Number"/>
        {{/if}}
    </div>
    <div class="flex1 center cell readonly">
        {{#if (isNull attack.base)}}
            <input class="field-value" name="system.attacks.{{id}}.mod" readonly="true" type="text" value="" placeholder="Mod" data-dtype="Number"/>
        {{else}}
            <input class="field-value" name="system.attacks.{{id}}.mod" readonly="true" type="text" value="{{numberFormat attack.mod decimals=0 sign=true}}" placeholder="Mod" data-dtype="Number"/>
        {{/if}}
    </div>
</div>
{{/each}}
<div class="flexrow no-wrap attacks">
    <div class="flex2 center cell-header">
        <div class="field-label ellipsis">{{ localize "COG.ui.sc" }}</div>
    </div>
    <div class="flex1 cell center">
        <select class="field-value" name="system.attacks.magic.stat" data-type="String" style="width:100%">
            {{#select system.attacks.magic.stat}}
                <option value="">{{localize "COG.None"}}</option>
                <option value="@stats.int.mod">{{localize "COG.stats.int.abbrev"}}</option>
                <option value="@stats.wis.mod">{{localize "COG.stats.wis.abbrev"}}</option>
                <option value="@stats.cha.mod">{{localize "COG.stats.cha.abbrev"}}</option>
            {{/select}}
        </select>
    </div>
    <div class="flex1 center">
    </div>
    <div class="flex1 center">
    </div>
</div>
