<div class="flexrow table-header attributes-header no-wrap">
    <div class="flex2 center rollable" data-rolling="system.stats" data-roll-type="attributes">
        <div class="field-label ellipsis"><i class="fas fa-dice-d6"></i>&nbsp;{{ localize 'COG.stats.abbrev' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.base' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.bonus' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.value' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COG.ui.mod' }}</div>
    </div>
</div>
{{#each system.stats as |stat id|}}
<div class="flexrow no-wrap attributes">
    <div class="flex2 cell-header">
        <div class="flexrow no-wrap">
            <div class="flex1 center no-wrap" title="Supérieur (2d20)">
                <input type="checkbox" name="system.stats.{{id}}.superior" {{checked stat.superior}}>
            </div>
            <div class="flex8 center rollable no-wrap" data-rolling="system.stats.{{id}}" data-roll-type="skillcheck">
                <div class="field-label no-wrap" title="{{ localize stat.label }}">
                    <i class="fas fa-dice-d20"></i>&nbsp;{{ localize stat.abbrev }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.stats.{{id}}.base" type="text" value="{{stat.base}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.stats.{{id}}.bonus" type="text" value="{{stat.bonus}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.stats.{{id}}.value" readonly="true" type="text" value="{{stat.value}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.stats.{{id}}.mod" readonly="true" type="text" value="{{numberFormat stat.mod decimals=0 sign=true}}" data-dtype="Number"/>
    </div>
</div>
{{/each}}
