{{#if (isEnabled "useRecovery")}}
    <div class="flexrow table-header recovery-header no-wrap">
        <div class="flex8 center">
            <div class="field-label ellipsis">{{ localize 'COG.attributes.recovery.label' }}</div>
        </div>
        <div class="flex3 center">
            <div class="field-label">{{ localize 'COG.ui.base' }}</div>
        </div>
        <div class="flex3 center">
            <div class="field-label">{{ localize 'COG.ui.bonus' }}</div>
        </div>
        <div class="flex3 center">
            <div class="field-label">{{ localize 'COG.ui.max' }}</div>
        </div>
        <div class="flex3 center">
            <div class="field-label">{{ localize 'COG.ui.current' }}</div>
        </div>
    </div>
    <div class="flexrow no-wrap recovery">
        <div class="flex8 center cell-header">
            <span class="field-label ellipsis rollable" data-rolling="system.attributes.hp" data-roll-type="recovery" title="dépenser un PR avec PV, SHIFT+click sans PV"><i class="fas fa-heartbeat"></i>&nbsp;</span>{{ localize 'COG.attributes.rp.abbrev' }}
        </div>
        <div class="flex3 center cell">
            <input class="field-value" name="system.attributes.rp.base" type="text" value="{{actor.system.attributes.rp.base}}" placeholder="Base" data-dtype="Number"/>
        </div>
        <div class="flex3 center cell">
            <input class="field-value" name="system.attributes.rp.bonus" type="text" value="{{actor.system.attributes.rp.bonus}}" placeholder="Bonus" data-dtype="Number"/>
        </div>
        <div class="flex3 center cell">
            <input class="field-value" name="system.attributes.rp.max" type="text" readonly="true" value="{{actor.system.attributes.rp.max}}" placeholder="Max" data-dtype="Number"/>
        </div>
        <div class="flex3 center cell">
            <input class="field-value" name="system.attributes.rp.value" type="text" value="{{actor.system.attributes.rp.value}}" placeholder="Value" data-dtype="Number"/>
        </div>
    </div>
    <div class="flexrow"><div class="flex1 half-spacer"></div></div>
{{/if}}
