<div class="flexrow table-header defence-header no-wrap">
    <div class="flex6 center">
        <div class="field-label">{{ localize 'COG.attributes.defence.label' }}</div>
    </div>
    <div class="flex5 center">
        <div class="field-label">{{ localize 'COG.ui.base' }}</div>
    </div>
    <div class="flex5 center">
        <div class="field-label">{{ localize 'COG.ui.bonus' }}</div>
    </div>
    <div class="flex6 center">
        <div class="field-label">{{ localize 'COG.ui.value' }}</div>
    </div>
</div>
<div class="flexrow no-wrap defence">
    <div class="flex6 center cell-header">
        <span class="field-label"><i class="fas fa-shield-alt"></i>&nbsp;{{ localize 'COG.attributes.def.abbrev' }}</span>
    </div>
    <div class="flex5 center cell">
        <input class="field-value" name="system.attributes.def.base" type="text" value="{{actor.system.attributes.def.base}}" placeholder="Base" data-dtype="Number"/>
    </div>
    <div class="flex5 center cell">
        <input class="field-value" name="system.attributes.def.bonus" type="text" value="{{actor.system.attributes.def.bonus}}" placeholder="Bonus" data-dtype="Number"/>
    </div>
    <div class="flex6 center cell readonly">
        <input class="field-value" name="system.attributes.def.value" readonly="true" type="text" value="{{actor.system.attributes.def.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
{{#if (isEnabled "useDamageResistance")}}
<div class="flexrow no-wrap defence damage-resistance">
    <div class="flex6 center cell-header">
        <span class="field-label"><i class="fas fa-user-shield"></i>&nbsp;{{ localize 'COG.attributes.dr.abbrev' }}</span>
    </div>
    <div class="flex5 center cell">
        <input class="field-value" name="system.attributes.dr.base.value" type="text" value="{{actor.system.attributes.dr.base.value}}" placeholder="Base" data-dtype="Number"/>
    </div>
    <div class="flex5 center cell">
        <input class="field-value" name="system.attributes.dr.bonus.value" type="text" value="{{actor.system.attributes.dr.bonus.value}}" placeholder="Bonus" data-dtype="Number"/>
    </div>
    <div class="flex6 center cell readonly">
        <input class="field-value" name="system.attributes.dr.value" readonly="true" type="text" value="{{actor.system.attributes.dr.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
{{/if}}
