<div class="flexrow table-header vitality-header no-wrap">
    {{#if (equals actor.type "encounter")}}
    <div class="flex6 center" data-roll-type="hp">
        <div class="field-label">{{ localize 'COG.attributes.vitality.label' }}</div>
    </div>
    {{else}}
    <div class="flex6 center rollable" data-rolling="system.attributes.hp" data-roll-type="hp">
        <div class="field-label"><i class="fas fa-dice-d6"></i>&nbsp;{{ localize 'COG.attributes.vitality.label' }}</div>
    </div>
    {{/if}}
    {{#unless (equals actor.type "encounter")}}
    <div class="flex4 center">
        <div class="field-label">{{ localize 'COG.ui.hd' }}</div>
    </div>
    {{/unless}}
    <div class="flex3 center">
        <div class="field-label">{{ localize 'COG.ui.base' }}</div>
    </div>
    <div class="flex3 center">
        <div class="field-label">{{ localize 'COG.ui.bonus' }}</div>
    </div>
    <div class="flex3 center">
        <div class="field-label">{{ localize 'COG.ui.max' }}</div>
    </div>
    <div class="flex3 center">
        <div class="field-label">{{ localize 'COG.ui.current' }}</div>
    </div>
</div>
<div class="flexrow no-wrap vitality">
    <div class="flex6 center cell-header">
        <span class="field-label"><i class="fas fa-heart"></i>&nbsp;{{ localize 'COG.attributes.hp.abbrev' }}</span>
    </div>
    {{#unless (equals actor.type "encounter")}}
    <div class="flex4 center cell readonly">
        <select class="field-value" name="system.attributes.hd.value" data-type="String" style="width:100%">
        {{#select actor.system.attributes.hd.value}}
            <option value="">{{localize "COG.None"}}</option>
            <option value="1d4">1d4</option>
            <option value="1d6">1d6</option>
            <option value="1d8">1d8</option>
            <option value="1d10">1d10</option>
            <option value="1d12">1d12</option>
            <option value="1d20">1d20</option>
        {{/select}}
        </select>
    </div>
    {{/unless}}
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.hp.base" type="text" value="{{actor.system.attributes.hp.base}}" placeholder="Base" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.hp.bonus" type="text" value="{{actor.system.attributes.hp.bonus}}" placeholder="Bonus" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell readonly">
        <input class="field-value" name="system.attributes.hp.max" type="text" readonly="true" value="{{actor.system.attributes.hp.max}}" placeholder="Max" data-dtype="Number"/>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.hp.value" type="text" value="{{actor.system.attributes.hp.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
