{{#if isCritical}}
<h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{localize "COG.roll.criticalHeal"}} !</h2>
{{else}}
<h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{localize "COG.roll.heal"}}</h2>
{{/if}}
<div class="flexrow">
    <div class="flex1 no-wrap">
        <h3><strong>{{label}}</strong></h3>
    </div>
    {{#if showButtons}}
        <div class="flex1 right no-wrap">
            <a class="btn apply-dmg" data-apply="full">
                <i class="fas fa-user-minus" title="{{localize "COG.ui.applyDamage"}}"></i>
            </a>
            <a class="btn apply-dmg" data-apply="heal">
                <i class="fas fa-user-plus" title="{{localize "COG.ui.applyHealing"}}"></i>
            </a>
        </div>
    {{/if}}
</div>
