<h1>{{itemName}}</h1>
{{{description}}}
{{#if limited      }} <span class="tag"> {{localize "COG.ui.limited"}} | </span> {{/if}}
{{#if spell        }} <span class="tag"> {{localize "COG.ui.spell"}} | </span> {{/if}}
{{#if ranged       }} <span class="tag"> {{localize "COG.properties.ranged"}} | </span> {{/if}} 
{{#if limitedUsage }} <span class="tag"> {{localize "COG.ui.limitedUsage"}} | </span> {{/if}}
{{#if save         }} <span class="tag"> {{localize "COG.ui.save"}} | </span> {{/if}}
{{#if activable    }} <span class="tag"> {{localize "COG.properties.activable"}} | </span> {{/if}}
{{#if heal         }} <span class="tag"> {{localize "COG.ui.heal"}} | </span> {{/if}}
{{#if attack       }} <span class="tag"> {{localize "COG.ui.attack"}} | </span> {{/if}}
{{#if buff         }} <span class="tag"> {{localize "COG.ui.buff"}} | </span> {{/if}}
{{#if useMacro     }} <span class="tag"> {{localize "COG.capacity.useMacro"}} | </span> {{/if}}
