<form class="{{cssClass}}" autocomplete="off">
    <div class="upper">
        <div class="logo"></div>
    </div>
    <div class="flexrow main no-wrap">
        <div class="sidebar flex2">
            <div class="charname-title center">
                <span class="charname">{{split actor.name ' ' 0}}</span>
            </div>
            <div class="portrait">
                <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
            </div>
        </div>
        <div class="content flex3">
            <header class="sheet-header flexrow header-background no-wrap">
                {{#if (equals actor.type "encounter")}}
                    {{> "systems/co-galactiques/templates/actors/parts/details/encounter-details.hbs"}}
                {{else}}
                    {{> "systems/co-galactiques/templates/actors/parts/details/actor-details.hbs"}}
                {{/if}}
            </header>
            {{!-- Sheet Tab Navigation --}}
            {{#if (equals actor.type "encounter")}}
                    {{> "systems/co-galactiques/templates/actors/parts/encounter-tabs.hbs"}}
                {{else}}
                    {{> "systems/co-galactiques/templates/actors/parts/actor-tabs.hbs"}}
            {{/if}}
        </div>
    </div>
</form>
