<div class="item-properties">
<ol class="properties-list">
    {{#if item.system.limited}}<li>{{localize "COG.ui.limited"}}</li>{{/if}}
    {{#if item.system.spell}}<li>{{localize "COG.ui.spell"}}</li>{{/if}}
</ol>
</div>
