<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow header-background no-wrap">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img">
        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">{{localize (concat "COG.category." item.type)}}</h4>
                <span class="item-status">
                    {{#if system.setting}}
                    {{localize (concat "COG.setting." system.setting)}}
                    {{/if}}
                </span>
            </div>
        </div>
    </header>
    {{#if (isNotLimited @root)}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{localize "COG.tabs.description"}}</a>
        <a class="item" data-tab="details">{{localize "COG.tabs.details"}}</a>
        <a class="item" data-tab="effets">{{localize "COG.tabs.effects"}}</a>
    </nav>
    {{/if}}
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab flexrow active no-wrap" data-group="primary" data-tab="description">
            {{> "systems/co-galactiques/templates/items/parts/properties/item-properties.hbs"}}
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
        {{#if (isNotLimited @root)}}
            <div class="tab details" data-group="primary" data-tab="details">
                {{#if (equals item.type "item")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/item-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "trait")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/trait-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "capacity")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/capacity-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "path")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/path-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "profile")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/profile-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "encounterWeapon")}}
                    {{> "systems/co-galactiques/templates/items/parts/details/encounter-weapon-details.hbs"}}
                {{/if}}
            </div>
            <div class="tab" data-group="primary" data-tab="effets">
                {{> "systems/co-galactiques/templates/effects/effects.hbs"}}
            </div>
        {{/if}}
    </section>
</form>
