{{#if (gt combat.count 0)}}
    {{#each combat.categories as |category id|}}
        {{#if (gt category.items.length 0)}}
            <ol class="inventory-list foldable {{#if (includes ../folded.combat category.id)}}folded{{/if}}" data-tab="combat" data-category="{{category.id}}">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{localize category.label}}</h3>
                    {{#if (isNotLimited @root)}}
                        {{#if (isCategoryIn category.id "armor" "shield" "spell")}}<div class="item-detail">Def</div>{{else}}<div class="item-detail"></div>{{/if}}
                        {{#if (isCategoryIn category.id "ranged" "spell")}}<div class="item-detail">Portée(m)</div>{{else}}<div class="item-detail"></div>{{/if}}
                        {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">Crit</div>{{else}}<div class="item-detail"></div>{{/if}}
                        {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">Mod</div>{{else}}<div class="item-detail"></div>{{/if}}
                        {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">DM</div>{{else}}<div class="item-detail"></div>{{/if}}
                        <div class="item-controls"></div>
                    {{/if}}
                </li>
                <ol class="item-list" {{#if (includes ../folded.combat category.id)}}style="display: none;"{{/if}}>
                {{#each category.items as |item id|}}
                    {{> "systems/co-galactiques/templates/actors/parts/combat/npc-combat-item.hbs" item}}
                {{/each}}
                </ol>
            </ol>
        {{/if}}
    {{/each}}
{{else}}
    <p class="empty">Aucun objet équipé.</p>
{{/if}}
