{{!-- Sheet Tab Navigation --}}
<nav class="sheet-navigation tabs" data-group="primary">
    {{#if (isNotLimited @root)}}
        <a class="item" data-tab="stats">{{localize "COG.tabs.stats"}}</a>
    {{/if}}
    <a class="item" data-tab="combat">{{localize "COG.tabs.combat"}}</a>
    {{#if (isNotLimited @root)}}
        <a class="item cog-compendium-pack" data-pack="cog.items" data-open="0" data-tab="inventory" title="clic droit pour ouvrir le compendium"><i class="fas fa-atlas"></i>&nbsp;&nbsp;{{localize "COG.tabs.inventory"}}</a>
        <a class="item cog-compendium-pack" data-pack="cog.capacities" data-open="0" data-alternative-pack="cog.paths" data-alternative-open="0" data-tab="capacities" title="clic droit pour ouvrir les capacités, SHIFT + clic droit pour ouvrir les voies"><i class="fas fa-atlas"></i>&nbsp;&nbsp;{{localize "COG.tabs.capacities"}}</a>
        <a class="item" data-tab="effects">{{ localize "COG.tabs.effects" }}</a>
    {{/if}}
    <a class="item" data-tab="description">{{localize "COG.tabs.description"}}</a>    
</nav>
{{!-- Sheet Body --}}
<section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
        {{> "systems/co-galactiques/templates/actors/parts/stats/actor-stats.hbs"}}
    </div>
    <div class="tab combat" data-group="primary" data-tab="combat">
        {{#if (equals actor.type "character")}}
            {{> "systems/co-galactiques/templates/actors/parts/combat/character-combat.hbs"}}
        {{else}}
            {{> "systems/co-galactiques/templates/actors/parts/combat/npc-combat.hbs"}}
        {{/if}}
    </div>
    {{#if (isNotLimited @root)}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/co-galactiques/templates/actors/parts/inventory/actor-inventory.hbs"}}
        </div>
        <div class="tab capacities" data-group="primary" data-tab="capacities">
            {{> "systems/co-galactiques/templates/actors/parts/capacities/actor-paths.hbs"}}
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/co-galactiques/templates/effects/effects.hbs"}}
        </div>   
    {{/if}} 
    <div class="tab description" data-group="primary" data-tab="description">
        {{#if (equals actor.type "character")}}
            {{> "systems/co-galactiques/templates/actors/parts/character-description.hbs"}}
        {{else}}
            {{> "systems/co-galactiques/templates/actors/parts/actor-description.hbs"}}
        {{/if}}
    </div>
</section>
