{{#if (equals actor.type "encounter")}}
    {{> "systems/co-galactiques/templates/actors/parts/details/encounter-details.hbs"}}
{{else}}
    {{> "systems/co-galactiques/templates/actors/parts/details/actor-details.hbs"}}
{{/if}}
