<li class="item flexrow {{#if (and system.properties.stackable (isNegativeOrNull system.qty))}}out-of-charge{{/if}}" data-item-id="{{_id}}" data-item-type="item" data-item-equipable="{{system.properties.equipable}}" data-item-stackable="{{system.properties.stackable}}"  data-item-consumable="{{system.properties.consumable}}" draggable="true">
    <div class="item-name flexrow">
        <div class="item-image" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
    </div>
        {{#if system.def}}<div class="item-detail">{{numberFormat system.def decimals=0 sign=true}}</div>{{else}}<div class="item-detail"></div>{{/if}}
        <div class="item-detail">
            {{#if system.properties.ranged}}{{system.range}}{{/if}}
        </div>
        <div class="item-detail">
            {{#if (equals system.slot "hand")}}
                {{#if system.properties.2H}}
                    <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
                {{else}}
                    <i class="fas fa-hand-paper"></i>
                {{/if}}
            {{/if}}
        </div>
        <div class="item-detail item-critrange">
            {{#if system.properties.weapon}}{{system.critrange}}{{/if}}
        </div>
        <div class="item-detail item-mod" data-item-mod="{{system.mod}}">
            {{#if system.properties.weapon}}{{system.mod}}{{/if}}
        </div>
        <div class="item-detail item-dmg" data-item-dmg="{{system.dmg}}">{{#if system.properties.weapon}}{{system.dmg}}{{/if}}</div>
    <div class="item-detail">
        <a class="item-control inventory-qty {{#if system.properties.stackable}}unlocked{{else}}locked{{/if}}" title="Clic gauche pour ajouter, clic droit pour supprimer">{{system.qty}}</a>
    </div>
    <div class="item-detail">{{#if system.price}}{{system.price}}{{else}}N.C.{{/if}}</div>
    {{#if (or (equals owner.type "character") (equals owner.type "npc"))}}
    <div class="item-detail">
        {{#if system.properties.equipable}}
            {{#if system.worn}}
                <a class="item-control inventory-equip" title="Déséquiper"><i class="fas fa-shield-alt"></i></a>
            {{else}}
                <a class="item-control inventory-equip" title="Équiper" style="color:lightgray;"><i class="fas fa-shield-alt"></i></a>
            {{/if}}
        {{/if}}
        {{#if (and system.properties.consumable (isPositive system.qty))}}
            <a class="item-control inventory-consume" title="Consommer"><i class="fas fa-drumstick-bite"></i></a>
        {{/if}}
    </div>
    {{/if}}
    {{#if @root.editable}}
        <div class="item-controls-3">
            <a class="item-control item-to-chat" title='{{localize "COG.ui.sendItemToChat"}}'><i class="fas fa-comments"></i></a>
            <a class="item-control item-edit" title='{{localize "COG.ui.editItem"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "COG.ui.deleteItem"}}'><i class="fas fa-trash"></i></a>
        </div>
    {{/if}}
</li>
