{{#if (gt inventory.count 0)}}
    {{#each inventory.categories as |category id|}}
        {{#if (gt category.items.length 0)}}
            <ol class="inventory-list foldable {{#if (includes ../folded.inventory category.id)}}folded{{/if}}" data-tab="inventory" data-category="{{category.id}}">
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{localize category.label}}</h3>
                    {{#if (isCategoryIn category.id "armor" "shield" "spell")}}<div class="item-detail">Def</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "ranged" "spell")}}<div class="item-detail">Portée</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "shield")}}<div class="item-detail">Usage</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">Critique</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">Mod</div>{{else}}<div class="item-detail"></div>{{/if}}
                    {{#if (isCategoryIn category.id "melee" "ranged" "spell")}}<div class="item-detail">DM</div>{{else}}<div class="item-detail"></div>{{/if}}                    
                    <div class="item-detail">{{localize "COG.ui.qty"}}</div>
                    <div class="item-detail"><i title="Prix" class="fas fa-coins" style="color:silver"></i></div>
                    {{#if (or (equals ../actor.type "character") (equals ../actor.type "npc"))}}<div class="item-detail">Action</div>{{/if}}
                    {{#if @root.editable}}
                        <div class="item-controls-3">
                            <a class="item-control item-create cog-compendium-pack" data-pack="cog.items" data-open="0" title="Ajouter un objet"><i class="fas fa-plus"></i>&nbsp; {{localize "COG.ui.add"}}</a>
                        </div>
                    {{/if}}
                </li>
                <ol class="item-list" {{#if (includes ../folded.inventory category.id)}}style="display: none;"{{/if}}>
                {{#each category.items as |item id|}}
                    {{> "systems/co-galactiques/templates/actors/parts/inventory/actor-inventory-item.hbs" item owner=../../actor}}
                {{/each}}
                </ol>
            </ol>
        {{/if}}
    {{/each}}
{{else}}
    <p class="empty">{{localize "COG.notification.emptyInventory"}}</p>
{{/if}}
